.arrowLeft-0 {
    position: absolute;
    width: 0; 
    height: 0;     
    border-bottom: 60px solid transparent; 
    
    border-right:97px solid #f80905; 
}

.arrowRight-0 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-bottom: 60px solid transparent;
    
    border-left: 97px solid #71acc4;
}

.arrowLeft-1 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent; 
    
    border-right:97px solid #145c5e; 
}

.arrowRight-1 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 97px solid #761f77;
}

.arrowLeft-2 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent; 
    
    border-right:97px solid #af801a; 
}

.arrowRight-2 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 97px solid #dabd01;
}

.arrowLeft-3 {
    position: absolute;
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent; 
    
    border-right:97px solid #f80905; 
}

.arrowRight-3 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    
    border-left: 97px solid #71acc4;
}
