body {
    padding: 0;
    margin: 0;
    background-size: 80px 80px;
    background-image: 
    -webkit-linear-gradient(0deg,rgba(255, 0,0, 0.3) 50%, transparent 50%),
    -webkit-linear-gradient(rgb(255, 0,0, 0.5) 50%, transparent 50%);
}