

.table, td {
    width: 20px;
    height: 20px;
}
.b {
    background-color: saddlebrown;
}
.p {
    background-color: pink;
}
.o {
    background-color: orange;
}
.w {
    background-color: rgb(236, 235, 235);
}
.lg {
    background-color:rgba(177, 174, 174, 0.442);
}
.g{
    background: gray;
}
.bl{
    background-color: black;
}